button.red-button {
  color: red;
  text-transform: none;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

button.red-button:hover {
  background: none;
  text-decoration: underline;
}
  